{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- <esto es la cabecera/header> -->
<ul class="nav bg-dark fixed">
  <li class="nav-item">
    <a class="nav-link active" href="{%url  'index' %}"> Miembros de Mi Familia</a>
  </li>
</ul>

{% block botones %}
<div class="container">    
  
  <div class="row">
    <div class="col">
      {% url 'agregar_persona' as agregar_persona_url %}
      {% url 'buscar_persona' as buscar_persona_url %}
      {% bootstrap_button "Agregar persona" button_class="btn-success" button_type="link" href=agregar_persona_url %} 
      {% bootstrap_button "Buscar persona" button_class="btn-success" button_type="link" href=buscar_persona_url %} 
      {% url 'agregar_mascota' as agregar_mascota_url %}
      {% url 'buscar_mascota' as buscar_mascota_url %}
      {% bootstrap_button "Agregar mascota" button_class="btn-success" button_type="link" href=agregar_mascota_url %} 
      {% bootstrap_button "Buscar mascota" button_class="btn-success" button_type="link" href=buscar_mascota_url %}   
    </div>
  </div>
{% endblock %}

{% block cuerpo %}
{% endblock %}

<!-- <esto es el pie/ footer > -->
<ul class="nav bg-dark fixed-bottom justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/familia">coder house - python 36585 - {% now 'd-m-Y' %}</a>
  </li>
</ul>